.first-part {
    display: flex;
    background-image: url(7.png);
    background-repeat: no-repeat;

}

.second-part {
    display: flex;
    background-image: url('Frame 59.jpg');
    background-repeat: no-repeat;
}

.third-part {
    display: flex;
}

.half {
    width: 50%;
    padding: 5%;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.251);
    margin: 50px;
    border-radius: 20px;

}

h1 {
    font-size: 40px;
}

.one {
    width: 50%;
    padding: 2%;
}

img {
    width: 300px;
    height: 300px;
}

.button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 50px;
}

span {
    color: tomato;
}

.middle {
    text-align: center;
}

.last {
    display: flex;
    text-align: center;
    margin: 5%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.226);
    padding: 5%;
    padding-left: 30px;
    border-radius: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
}